
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --primary-color: rgb(13, 106,134);
    --darker: rgb(39, 39, 39);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;

}

li {
    font-size: 2rem;
    margin-top: 20px;
    
}

button {
    cursor: pointer;
}

.apagar {
    padding: 7px;
    
}



