@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

:root {
    --primary-color: rgb(13, 106,134);
    --darker: rgb(39, 39, 39);
    --green-color: rgb(0, 254, 114);
}

.grid-template-columns-2 {
    display: grid;
	grid-template-columns: 1fr 2fr;
    text-align: center;
    margin-left: 10%;
    
}

.container {
     background: #fff;    
     max-width: 700px;
     border-radius: 15px;     
     padding: 20px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15px;
     
 
 }

#peso, #altura {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

form button {
    width: 100%;
    height: 40px;
    background: var(--green-color);
    cursor: pointer;    
}

form button:hover {
    background-color: rgb(98, 246, 110);
}

.texto {
    margin-bottom: 0;
}

.titulo {
    
    text-align: center;
}

.paragrafo-resultado {
    background: var(--green-color);
    padding: 8px;
    padding-bottom: 0;
    margin-top: 15px;
    border: 2px solid black;    
}

.paragrafo-invalid {
    background: #ff6565;
    padding: 8px;
    padding-bottom: 0;
    margin-top: 15px;
    border: 2px solid black;  
    

}




